.inline-block {
  display: inline-block;
}

@media (min-width: 1280px) {
  form {
    max-width: 1165px;
  }
}

.form-row {
  align-items: center;
  margin: 0;

  .object-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-bottom: 0;
  }

  .form-group {
    margin-right: 1em;
    flex-grow: 1;
  }
}

.toolbar-btn.deepdetectPredict,
.toolbar-btn.deepdetectRemoveUnlabelled,
.toolbar-btn.deepdetectValidate,
.toolbar-btn.drawFullFrame,
.toolbar-btn.deepdetectNext {
  width:auto;
  height:auto;
  display:flex;

  i {
    margin-right: 5px;
    padding-top: 2px;
  }
}
